/*.info{
    border-color:dark blue;
    margin:50px;
    border-style:hidden;
    border-color:blue;
} 

#div2{
    position:absolute;
    float:right;
     margin:50px;
}

#div1{
    position:relative;
}*/


header{
    position: relative;
    background-image: url(banner-img.png);
    height:75vh;
    background-size: cover;

    /*background-image: url(logo.png);
    position: absolute;
    margin:30px;*/
}
*{
    margin:0px;
    padding:0px;
}
.nav {
    background:black;
}


.main-nav{
    float:right;
    list-style-type:none;
    margin-top: 30px;
    
}

.main-nav li{
    display:inline-block;
}

.main-nav li a{
    

    color:white;
    text-decoration: none;
    padding:5px 20px;
    font-family:Roboto,sans-serif;
    font-size:15;
    border:0px 2px 4px red;
}
.nav .main-nav{
    width:100%;
    text-align:center;
    
}

.img{
    position:absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-family: monospace;
    text-align: center;
    color:white;;
    font-size:16px;
}
.head{
    text-align: center;
  
}