body{
    background-color:white;
}
.main{
    margin:auto;
    background-color:#ebecf2;
    width:1198px;
    

}
header .container{
   
    margin:0 auto;
    position:relative; 
    background-color:grey;   
}

header .part1{
   
    width:1200px;
    height:60px;
}

.part1-left{
    
    width:300px;
    height:60px;
    float:left;
}

.part1-right{
   
    margin-top:0px;
    float:right;
   
}

#logo-menu{
    margin-top:9px;
    display:inline-block;
    margin-left:24px;
}

.menu-icon{
    padding-bottom: 11px;
    padding-left: 60px;
}
#other-logo{
    display:inline-block;
    margin-top:20px;
}

.backstyle{
    background-color:grey;
    height:10px;
    width:10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:6px;
    padding-right:10px;
    margin-right:24px;
}

a.backstyle:hover{
    background-color:#384B59;
}

.header1{
    list-style-type:none;
    margin:30px;
}

.header1 li{
    display:inline;
    padding-left:20px;
    padding-top:60px;

}
.header2{
    list-style-type:none;
    margin-top:16px;
    text-align: right;
    
}
.header2 li{
    display:inline;
    
}

pre{
    margin-top:20px;
    color:black;
    text-align:left;
    font-family:sans-serif;
}

.section2 .container{
    width:100%;
    background-color:#ebecf2;
    height:206px;
}
.container .part2{
    
    padding-top:36px;
    width:1188px;
    height:113px;
}

.multiple-box{
    width: 270px;
    height:110px;
    margin-left:24px;

}

.box{
    background-color:#fec006;
    color:white;
    float:left;
   
}
.box h4{
    padding-top:20px;
    padding-left:20px;
    color:white;
    font-family:QUICKSAND;
    font-size:16px;
    font-weight:500;
}

.box p{
    padding-top:20px;
    padding-left:20px;
    height:69px;
    font-style:bold;
    font-size:30px;
    font-family:QUICKSAND;
    font-weight: 500;
} 
.box-left{
    height:110px;
    width:180px;
    float:left;
}

.box-right{
    height:110px;
    width:90px;
    text-align:center;
    float:right;
    
}

.box-right img{
    padding-top:34px;
}


.box2{
    background-color:#e81d62;
    color:white;
    float:left;
    
}

.box2 h4{
    padding-top:20px;
    padding-left:20px;
    font-family:QUICKSAND;
    font-size:16px;
    font-weight:500;
    color:white;
}

.box2 p{
    padding-top:20px;
    padding-left:20px;
    font-style:bold;
    height:69px;
    font-size:30px;
    font-family:QUICKSAND;
    font-weight: 500;
}
.box3{
    background-color:#8ac249;
    color:white;
    font-family:QUICKSAND;
    float:left;
}

.box3 h4{
    padding-top:20px;
    padding-left:20px;
    font-size:16px;
    font-family:QUICKSAND;
    font-weight:500;
    color:white;
}

.box3 p{
    padding-top:20px;
    padding-left:20px;
    font-style:bold;
    font-size:30px;
    font-weight: 500;
    font-family: QUICKSAND;
}


.box4{
    background-color:#2095f2;
    color:white;
    font-family:QUICKSAND;
    float:left;
}

.box4 h4{
    padding-top:20px;
    padding-left:20px;
    font-size:16px;
    font-size:16px;
    font-weight:500;
    color:white;
    font-family: QUICKSAND;
}

.box4 p{
    padding-top:20px;
    padding-left:20px;
    font-style:bold;
    font-size:30px;
    font-weight: 500;
    font-family: QUICKSAND;
}

.yellow-box{
    background-color:#f1b606;
}

.pink-box{
    background-color:#dd1c5d;

}

.green-box{
    background-color:#83b846;
}

.blue-box{
    background-color:#1e8de6;
}
/* Section 2 */ 

.section3 .container{
    width:100%;
    padding-top:10px;
    background-color:#ebecf2;
    margin-top:12px;
}


.part3 h2{
    margin:0 auto;
    padding-bottom:5px;
}

/* Box 1 */

.secondbox{
    height:225px;
    width:270px;
    background-color:#ffffff;
    color:black;
    margin-left:24px;
    float:left;
}

.boxb1{
    height:136px;
    width:270px;
    border-bottom:2px solid #ebecf2;
    margin:0 auto;
    padding:28px 0px 0px 0px;
}

.boxb2{

    height:166px;
    width:270px;
    border-bottom:2px solid #ebecf2;
    
}

.circle1outer{
    border-radius:50%;
    background-color:#8ac249;
    width:107px;
    height:107px;
    margin:0 auto;
    padding:2px;

}

.circle1inner{
    border-radius:50%;
   background-color:#f6efd2;
    height:87px;
    width:87px;
    margin:8px 8px;
    border:2px solid #ffffff;
}

.percent1{
    text-align:center;
    font-size:30px;
    padding-top:20px;
    font-family:QUICKSAND;
    font-weight:500;
    color: #363f45
}

.percent-sign{
    font-size:16px;
    font-family:QUICKSAND;
    font-weight:500;
    color: #363f45
}

.circledown1{
    width:270px;
    height:59px;
}

.circledown11{
    color:#e1e2e9;
    font-weight:bold;
    font-size:34px;
    float:right;
    padding:14px 10px 0px 0px;
    font-family:QUICKSAND;
    font-style:bold;
}


.milestone{
    font-family:LATO;
    font-size:16px;
    text-align:center;
    padding-top:22px;
    padding-left:25px;
    padding-right:25px;
}

/* Box 2 */



.circle2outer{
    border-radius:50%;
    background-color:#fec006;
    width:107px;
    height:107px;
    margin:0 auto;
    padding:2px;
}

.circledown22{
    color:#e1e2e9;
    font-weight:bold;
    font-size:34px;
    float:right;
    padding:14px 10px 0px 0px;
    font-family:QUICKSAND;
    font-style:bold;
}


/* Box 3 */



.circle3outer{
    border-radius:50%;
    background-color:#f5f5f5;
    margin:0 auto;
    width:107px;
    height:107px;
    padding:2px;
}

.circledown33{
    color:#e1e2e9;
    font-weight:bold;
    font-size:34px;
    float:right;
    padding:14px 10px 0px 0px;
    font-family:QUICKSAND;
    font-style:bold;
}

/* Box 4 */



.circle4outer{
    border-radius:50%;
    background-color:#f5f5f5;
    width:107px;
    height:107px;
    border-width:100px;
    margin:0 auto;
    padding:2px;
}

.circledown44{
    color:#e1e2e9;
    font-weight:bold;
    font-size:34px;
    float:right;
    padding:14px 10px 0px 0px;
    font-family:QUICKSAND;
    font-style:bold;
}

/*4 Boxes over */

.photo{
    position:absolute;
    width:20px;
    height:20px;
    background-color: red;
    border-radius:20px;
    margin-left:21px;
    top:6px;
    text-align:center;
    color:white;
    font-size:16px;
    font-family:LATO;
}



/* Section 2 */

#more1{
    float:right;
    margin-right:40px;
}

#more-top{
    text-align:right;
}

#arrow-right{
    float:right;
    margin-right:40px;
    padding-top:0px;

}

#arrow-left{
    transform:rotateY(180deg);
    float:right;
    margin-right:10px;
    padding-top:0px;
}


.section3 .container{
    width:100%;
    height:307px;
    padding-top:10px;
    background-color:#ebecf2;
    margin-top:12px;
}
.container .part3{
 
    margin-top:21px;
}

#circle2{
    padding-top:50px;
    margin-top:40px;
    margin-left:100px;
    padding-left:50px;
    border-radius:80%;
    border:1px groove black;
    
}

#circle3{
    padding-top:50px;
    margin-top:40px;
    margin-left:100px;
    padding-left:50px;
    border-radius:80%;
    border:1px groove black;
    
}

#circle4{
    padding-top:50px;
    margin-top:40px;
    margin-left:100px;
    padding-left:50px;
    border-radius:80%;
    border:1px groove black;
    
}
/* Section 3 */

.back{
    border-style:round-xlarge;
    background-color:lightblue!important;
}

/* Border ends */

.progressbar-white{
    background-color: #f5f5f5;
    margin: 0 24px;
    padding:2px;
    height:5px;
    margin-top:33px;

}

.progressbar-radius{
    border-radius:16px;
    
}
.progressbar-grey{
    background-color:#d3c89b;
    height:5px;
   
}

/* w4 starts here */

.bar-outer{
   
    background-color:#e1e2e6;

}

.bar-radius{
    border-radius:16px;
}

.bar-container{
    padding:4px;
    position:relative;
}

.bar-inner{
    background-color:#5fccc1;;
}

.section4 .container{
    background-color:#ebecf2;
    margin-top:71px;
    height:368px;
    display:inline;
    
}

.container .part4{
    padding-top:71px;
    width:100%;
    height:395px;
}
.block1{
    height:339px;
    width:564px;
    background-color:whitesmoke;
    margin-left:24px;
    float:left;
}

.block2{
    
    height:339px;
    width:564px;
    background-color:whitesmoke;
    margin-left:24px;
    float:left;
}

.block1 p{

    padding-top:10px;
    padding-left:10px;
    font-family:sans-serif;
    color:grey;
    
}

.block1 p{

    font-family:sans-serif;
    font-style: bold;
    
}
h5{
    font-family: sans-serif;
}

#feb2{

    padding-right:50px;

}


.checkbox1{
    height:17px;
    width:17px;
}

.table1{
    width:564px;
    height:339px;
    
}

.table1 td {
    border-bottom: 1px solid #ebecf2;
}
.table2{
    width:564px;
    height:256px;
    margin-top:35px;
}

.row11{
    padding-left: 20px;
   
    text-align: left;
    font-family: QUICKSAND;
    border-bottom: 1px solid #ebecf2;
    color: #363f45;
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: bold;
    
}

.row21{
       
    font-family: QUICKSAND;
    padding-top: 14px;
    border-bottom: 1px solid #ebecf2;
    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 20px;
    color: #363f45
}

.more-right{
    float:right;
    padding-right:30px;
  
}

.row13{
    padding-right:30px;
    text-align:left;
}

.row23{
    width:30%;
}

.makeitcoloured td{
    background-color:#c8f1cc;
    color:#4bae4f;
   
}
td{
    padding:15px;
    font-family:LATO;
    font-size:14px;
    color:#919599;
    font-weight:400;
}

.date{
    text-align:center;
    padding-bottom:1px;
}

.table-menu{
    padding-left:40px;
}

.menu-status-bar{
    height:50px;
    width:564px;
}

/* Section 4 */

#borderlast1{
    border:10px groove grey;
    border-radius:10px;
}

#id1{
    color:grey;
    font-family: sans-serif;
    padding-bottom:20px;
}

#id1 li{
    list-style-type:none;
    display:inline;
    padding-bottom:2px;
    padding-top:5px;
    padding-left:22px;
}

#id2{
    color:#37d647;
    font-family: sans-serif;
    background-color: #b6f0bc;
    padding-top:20px;
    padding-bottom:20px;
    
}

#id2 li{
    list-style-type:none;
    display:inline;
    padding-bottom:2px;
    padding-top:5px;
    padding-left:22px;
    
   
}

#id3{
    color:grey;
    font-family: sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    
}

#id3 li{
    list-style-type:none;
    display:inline;
    padding-bottom:2px;
    padding-top:5px;
    padding-left:22px;
}

#id4{
    color:grey;
    font-family: sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    
    
}

#id4 li{
    list-style-type:none;
    display:inline;
    padding-bottom:2px;
    padding-top:5px;
    padding-left:22px;
}

#id5{
    color:grey;
    font-family: sans-serif;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:10px;
    
    
}

#id5 li{
    list-style-type:none;
    display:inline;
    padding-left:10px;
    padding-top:20px;
    padding-bottom:20px;
}

ul li{
    list-style-type:none;
    font-family:QUICKSAND;
}

#leftid1{
    padding:20px;
}

#leftid2{
    padding:20px;
}

#leftid3{
    padding:20px;
}

#leftid1{
    list-style-type:none;
    margin-left:-10px;
    padding-left:20px;
    padding:33px;
}

#leftid1 li{
    display:inline;
}

#leftid2{
    list-style-type:none;
    margin-left:-10px;
    padding-left:20px;
    padding:33px;
}

#leftid2 li{
    display:inline;
}

#leftid3{
    list-style-type:none;
    margin-left:-10px;
    padding-left:20px;
    padding:33px;
}

#leftid3 li{
    display:inline;
}

h2{
   padding-left:24px;
   padding-top:43px;
   font-family:QUICKSAND;
   font-size:18px;
   color: #363f45;
   font-weight: 500;
}


.coloured-box{
    background-color:#5fccc1;
    bottom:21px;
    right:-11px;
    position: absolute;
    color:white;
    padding:2px;
    font-size:12px;
    border-radius:13%;
}


.coloured-box:after{
    content: '';
    position: absolute;
    left:15px;
    border: 7px solid transparent;
    border-top-color: #5fccc1;
    border-bottom: 0;
    margin-left: -8px;
    top: 16px;
}

.coloured-box2{
    background-color:#5fccc1;
    bottom:21px;
    position:absolute;
    right:-12px;
    color:white;
    padding:2px;
    font-size:12px;
    border-radius:13%;
    
}

.coloured-box2:after{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: #5fccc1;
    border-bottom: 0;
    margin-left: -8px;
    top: 16px;
    right:8px;
    
}

.coloured-box3{
    background-color:#5fccc1;
    right:-12px;
    bottom:21px;
    position: absolute;
    color:white;
    font-size:12px;
    padding:2px;
    border-radius:13%;

}

.coloured-box3:after{
    content: '';
    position: absolute;
    border: 7px solid transparent;
    border-top-color: #5fccc1;
    border-bottom: 0;
    margin-left: -8px;
    top: 16px;
    right:8px;
}
footer{
    height:44px;
    margin-top:67px;
    background-color:grey;
    text-align:right;
    color:white;

}
footer p{
    
    font-size:11px;
    padding-right:10px;
    padding-top:20px;
    font-family: LATO;
}

hr{
    color:grey;
}

